@charset "UTF-8";

$color-background: #F8F8F8;

$color-primary: #EAEAEA !default;
$color-accent: #FF0000;

$color-primary-hover: #F2F2F2;
$color-accent-hover: rgb(245, 109, 109);

$base-font-size: 1.8 !default;
$base-font-family: Helvetica, Arial !default;